{% extends 'base.html' %}

{% block content %}

<h3 class="text-warning" style="letter-spacing: 2px;">Search Term - {{keyword}}</h3>
<div class="row mb-2">
    {% if blogs %}
    {% for post in blogs %}
        <div class="col-md-6">
        <div class="card border-0" >
            <div class="card-body">
            <h3><a href="{% url 'blogs' post.slug %}" class="text-dark">{{post.title}}</a></h3>
            <!-- timesince for displaying time in minuted -- not proper time created post -->
            <small class="mb-1 text-muted">{{post.created_at | timesince}} ago | {{post.author}}</small>
            <p class="card-text">{{post.short_description | truncatewords:10 }}</p>
            </div>
        </div>
        </div>
    {% endfor %}
    {% else %}
    &emsp; <p>No blogs found, search with right keyword again.</p>
    {% endif %}
</div>

{% endblock %}